@media screen and (max-width: 600px) {
  li a {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0px;
  }
}
@import "https://fonts.googleapis.com/css?family=Lato:400,700";
body {
  font-family: "Lato", sans-serif;
}
#header {
  position: fixed;
  top: 0;
  margin-top: 0;
}
#header-img {
  padding: 0 0 0 0;
  width: 13em;
  height: auto;
  margin: 0.5em;
  float: left;
}

ul {
  display: block;
  position: fixed;
  margin: 0;
  top: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  background-color: #e5e6e5;
}

li a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1.4em 0.7em 0.2em 0.7em;
  text-decoration: none;
  height: 2em;
}

li a:hover {
  background-color: #e5fae1;
}

nav {
  margin-top: 10px;
  width: 100%;
}
.heading {
  padding: 4em 0 0 1%;
}

#flex-parent-watches {
  display: flex;
  flex-direction: row;
  object-fit: contain;
  flex-wrap: wrap;
}

.flex-element {
  padding: 0 0 0 0;
  margin: 2em 5% 0 5%;
  text-align: center;
  background-color: #e5e6e5;
  border: 3px solid black;
  width: 20em;
  height: 45em;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-element:hover {
  animation-name: flex-shadow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes flex-shadow {
  from {
    box-shadow: 0 0 0em yellow;
  }
  to {
    box-shadow: 0 0 5em yellow;
  }
}

.watch-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 20em;
  height: auto;
  margin: auto;
  border-bottom: 2px solid black;
}

.watch-desc {
  width: 90%;
  margin: auto;
}

#video {
  display: block;
  margin: 3em auto 0 auto;
}

#form {
  display: block;
  text-align: center;
  align-items: center;
  background-color: #e5e6e5;
  width: 60%;
  padding: 10px;
  margin: auto;
  border: 2px solid black;
}
input {
  display: block;
  margin: 1em auto 1em auto;
  width: 60%;
}
#submit {
  background-color: #e5fae1;
  margin: right;
}
